
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    background-color: black;
}

.body{
    
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.941);
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    color: rgb(245, 236, 236);
}
.box{
    max-width: 600px;
}

h1{
    font-size: 5em;
}
p{
    font-size: 1.2em;
}
iframe{
    border-radius: 2em;
    border: none;
    width: 500px;
    height: 500px;
    transition: 0.3s ease-in-out;
}
iframe:hover{
    transform: scale(1.1);
}
